.cn-article {
  padding: 0 0.5em;
  margin: 34px auto;
}

.cn-article__front-matter {
  text-align: center;
  margin: 0 auto 17px;
  max-width: 80em;
}

.cn-article__body {
  max-width: 44em;
  margin: 0 auto;
}
