.error404 {
  background-image: url("./bgs/threefold.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.blog .cn-content-box-list {
  background-image: url("./bgs/hexcube.webp");
}

.home {
  background-image: url("./bgs/pinkhooks.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
